.App {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  @import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
  font-family: "Shadows Into Light", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  padding-top: 3rem;
  padding-bottom: 1rem;
  letter-spacing: 0.5rem;
}