.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  width: 18rem;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}

.remove__button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  font-size: 2rem;
  border: none;
  outline: none;
  background: white;
  cursor: pointer;
  @import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
  font-family: "Shadows Into Light", cursive;
    font-weight: bolder;
    color: brown;

}
